<div class="container-fluid" *ngIf="checkIfDisplay()">
    <br>
    <div class="row justify-content-md-center">
        <h1>Money xchange!</h1>
    </div>
	<div class="row justify-content-md-center">
            <form autocomplete="off">
                <div class="form-row align-items-center">
                    <div class="col-sm-5 my-1">
                        <input type="number"
                         name="baseCurrencyAmount" class="form-control" placeholder="USD 0.00" [(ngModel)]="baseCurrencyAmount">
                    </div>
                    <div class="col-sm-5 my-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text"> EUR </div>
                        </div>
                        <input type="number" 
                        name="rateCalculated" class="form-control" placeholder="EUR 0.00" disabled [(ngModel)]="rateCalculated">
                    </div>
                    </div>
                    <div class="col-sm-2 my-1">
                        <button type="submit" class="btn btn-primary" (click)="getRate()">Convert!</button>
                    </div>
                </div>
            </form>
            <br><br>
            <h2> Please insert the amount in USD that you want to calculate.</h2>
    </div>
    <br><br>
    <div class="row justify-content-md-center">
            <p><a [routerLink]="['/login']">Logout!</a></p>
        </div>
</div>

<div class="container-fluid" *ngIf="!checkIfDisplay()">
    <br>
    <div class="row justify-content-md-center">
        <h1>Unauthorized !!!</h1>
    </div>
    <div class="row justify-content-md-center">
        <p><a [routerLink]="['/login']">Go to login page!</a></p>
    </div>
</div>